<div class="p-5 bg-light">
  <div class="container">
    <div class="form-group row justify-content-center">
      <%= form_for @categorys, url: search_path, html: {method: "POST"} do |f| %>
        <div class="bg-white p-3 mb-4 col-12">
          <h4>１．どのジャンルにする？</h4>
            <div class="mx-2 pb-2">
              <%= f.collection_radio_buttons(:name, @categorys, :code, :name,) do |r|  %>
                <div class="form-check">
                  <%= r.label(class: "form-check-label") {r.radio_button(class: "form-check-input") + r.text} %>
                </div>
              <% end %>
            </div>
          <a href="/random" class="btn btn-outline-success">他のジャンルを表示</a>
        </div>

        <div class="bg-white p-3 mb-4 col-12">
          <h4>２．現在地は？</h4>  
          <%= text_field_tag "station", "", {placeholder: "（例）新宿駅", class: "form-control readonly"} %>
        </div>
        <%= f.submit '検索', class: "btn-lg btn-success col-12" %>
      <% end %>
    </div>
  </div>
</div>