<!DOCTYPE html>
<html>
  <head>
    <title>Nanitabe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class='text-success'>
      ナニタベ
    </header>
    <%= yield %>
  </body>
</html>
